#payments button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 12px;
    margin: 20px 0;
    border: none;
    background: #34495e;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}
#payments button:hover {
    background: #1abc9c;
}
.date-nav {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}
.date-nav .left-controls {
    display: flex;
    align-items: center; 
    gap: 10px;
}
.date-nav .right-controls {
    margin-left: auto;
    padding-left: 10px;
}

.date-nav .current-date:hover  {
    color: #167c68;
}

.next-btn {
    width: 90px;
}
.calendar-btn, .refresh-btn {
    width: 40px;
}
.filter-range {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 11px 30px 12px 12px; /* extra right space for custom arrow */
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background: #34495e;
    color: white;
    cursor: pointer;
}
.filter-range {
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}
.filter-range:hover {
    border-color: #888;
}
.filter-range:focus {
    outline: none;
    border-color: #4CAF50;
}
.custom-range {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 8px;
}
.custom-range input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background: #fff;
    cursor: pointer;
}
.custom-range input:focus {
    outline: none;
    border-color: #4CAF50;
}

.total-income-td {
    text-align: left; 
    font-weight: bold;
}













