#payments button {
    width: 180px;
    padding: 12px;
    margin: 20px 0;
    border: none;
    background: #34495e;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}
#payments button:hover {
    background: #1abc9c;
}